@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body {
  background: #7fbcff;
  margin: 0;
}

* {
  font-family: 'Inter', sans-serif;
}

.app {
  width: 1440px;
  margin: 8px auto;
  display: flex;
}

.app .menu.hidden {
  display: none;
}

.app .menu {
  width: 293px;
  border-radius: 20px;
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  margin-top: 8px;
  margin-left: 66px;
  overflow: hidden;
}

.notes-container {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
}
